<a href="https://colab.research.google.com/github/RuchitShivani/Data-Science-Pivot-and-Crosstab-Analysis/blob/main/Untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

# Load dataset
df = pd.read_csv("data.csv")

# Show the first few rows
print(df.head())

# Check missing values
print("\nMissing Values Before Handling:\n", df.isnull().sum())

   EmployeeID     Name   Age   Salary Department  Experience
0         101    Alice  25.0  50000.0         HR         2.0
1         102      Bob  30.0      NaN         IT         5.0
2         103  Charlie   NaN  70000.0    Finance         7.0
3         104    David  40.0  80000.0        NaN        10.0
4         105      Eve  35.0  60000.0         IT         NaN

Missing Values Before Handling:
 EmployeeID    0
Name          0
Age           2
Salary        2
Department    1
Experience    1
dtype: int64

In [ ]:
print(df.isnull().sum())  # Count missing values per column
print(df.info())  # Check data types

EmployeeID    0
Name          0
Age           2
Salary        2
Department    1
Experience    1
dtype: int64
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7 entries, 0 to 6
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   EmployeeID  7 non-null      int64
 1   Name        7 non-null      object
 2   Age         5 non-null      float64
 3   Salary      5 non-null      float64
 4   Department  6 non-null      object
 5   Experience  6 non-null      float64
dtypes: float64(3), int64(1), object(2)
memory usage: 468.0+ bytes
None

In [ ]:
# Compute values
mean_age = df["Age"].mean()
median_salary = df["Salary"].median()
mode_experience = df["Experience"].mode()[0]  # Most frequent value

# Fill missing values
df["Age"] = df["Age"].fillna(mean_age)
df["Salary"] = df["Salary"].fillna(median_salary)
df["Experience"] = df["Experience"].fillna(mode_experience)
df["Department"] = df["Department"].fillna("Unknown")

In [ ]:
df["Department"] = df["Department"].fillna("Unknown")

In [ ]:
df = df.dropna(axis=1, thresh=len(df) * 0.5)  # Drop columns with >50% missing values

In [ ]:
df.to_csv("cleaned_data.csv", index=False)
print("\nMissing values handled. Cleaned dataset saved as 'cleaned_data.csv'.")

Missing values handled. Cleaned dataset saved as 'cleaned_data.csv'.

In [ ]:
print("\nMissing Values After Handling:\n", df.isnull().sum())

Missing Values After Handling:
 EmployeeID    0
Name          0
Age           0
Salary        0
Department    0
Experience    0
dtype: int64