<a href="https://colab.research.google.com/github/RuchitShivani/Data-Science-Pivot-and-Crosstab-Analysis/blob/main/Data_Science_RA2211031010131.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

GENERATING EMPLOYEE DATASET

In [ ]:
import pandas as pd
import random
import numpy as np

# Sample values
names = ['Alice', 'Bob', 'Charlie', 'David', 'Eva', 'Frank', 'Grace', 'Helen', 'Ian', 'Jack']
countries = ['India', 'USA', 'Germany', 'France', 'Canada']
departments = ['HR', 'Tech', 'Finance', 'Marketing']
positions = ['Manager', 'Executive', 'Analyst', 'Intern']

# Generate sample employee data
employee_data = []
for i in range(1, 21):  # 20 records
    name = random.choice(names)
    age = random.randint(22, 60)
    country = random.choice(countries)
    department = random.choice(departments)
    position = random.choice(positions)
    salary = round(random.uniform(30000, 150000), 2)
    join_date = pd.Timestamp('2015-01-01') + pd.to_timedelta(random.randint(0, 3000), unit='D')
    employee_data.append([i, name, age, country, department, position, salary, join_date])

# Create DataFrame
df_employee = pd.DataFrame(employee_data, columns=[
    'Employee_ID', 'Employee_Name', 'Age', 'Country', 'Department',
    'Position', 'Salary', 'Joining_Date'
])

# Introduce missing values (optional for analysis)
df_employee.loc[3, 'Salary'] = np.nan
df_employee.loc[7, 'Salary'] = np.nan

# Save as CSV
df_employee.to_csv("employee.csv", index=False)
print("✅ employee.csv generated!")

✅ employee.csv generated!

GENERATING CROP DATASET

In [ ]:
crops = ['Rice', 'Wheat', 'Maize', 'Soybean', 'Cotton']
seasons = ['Monsoon', 'Winter', 'Summer']
regions = ['North', 'South', 'East', 'West']
fertilizer_used = ['Yes', 'No']

crop_data = []
for _ in range(50):
    crop = random.choice(crops)
    year = random.randint(2015, 2023)
    season = random.choice(seasons)
    region = random.choice(regions)
    area = round(random.uniform(100, 1000), 2)
    production = round(area * random.uniform(0.8, 1.5), 2)
    rainfall = round(random.uniform(400, 1200), 2)
    fertilizer = random.choice(fertilizer_used)
    pesticide = random.choice(['Yes', 'No'])
    yield_val = round(production / area, 2)
    crop_data.append([region, crop, year, season, area, production, rainfall, fertilizer, pesticide, yield_val])

df_crop = pd.DataFrame(crop_data, columns=[
    'Region', 'Crop', 'Crop_Year', 'Season', 'Area',
    'Production', 'Annual_Rainfall', 'Fertilizer', 'Pesticide', 'Yield'
])

df_crop.to_csv("crop_yield.csv", index=False)
print("✅ crop_yield.csv generated!")

✅ crop_yield.csv generated!

GENERATING CUSTOMER DATASET

In [ ]:
!pip install faker

import faker

fake = faker.Faker()
customers = []

for i in range(1, 21):
    cust_id = i if random.random() > 0.1 else None  # 10% missing
    name = fake.name()
    email = fake.email() if random.random() > 0.2 else 'invalid_email'
    phone = fake.phone_number()
    purchase = round(random.uniform(100, 10000), 2)
    if random.random() < 0.1:
        purchase = -100  # Invalid negative
    elif random.random() < 0.1:
        purchase = 999999  # Unrealistic

    customers.append([cust_id, name, email, phone, purchase])

df_cust = pd.DataFrame(customers, columns=[
    'Customer ID', 'Name', 'Email', 'Phone', 'Purchase Amount'
])

df_cust.to_csv("customer.csv", index=False)
print("✅ customer.csv generated!")

Collecting faker
  Downloading faker-37.1.0-py3-none-any.whl.metadata (15 kB)
Requirement already satisfied: tzdata in /usr/local/lib/python3.11/dist-packages (from faker) (2025.2)
Downloading faker-37.1.0-py3-none-any.whl (1.9 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.9/1.9 MB 21.5 MB/s eta 0:00:00
Installing collected packages: faker
Successfully installed faker-37.1.0
✅ customer.csv generated!

 EMPLOYEE DATASET ANALYSIS(Q1)

In [ ]:
import pandas as pd

df = pd.read_csv('employee.csv')

print("Rows and Columns:", df.shape)

print("\nDescriptive Statistics:\n", df.describe(include='all'))

print("\nRows with missing Salary values:\n", df[df['Salary'].isna()])

print("\nFirst 4 rows:\n", df.head(4))

# v. Select specific columns and rows (e.g., Name, Salary of first 5 entries)
print("\nSelected Columns and Rows:\n", df.loc[0:4, ['Employee_Name', 'Salary']])

Rows and Columns: (20, 8)

Descriptive Statistics:
         Employee_ID Employee_Name        Age Country Department Position  \
count      20.00000            20  20.000000      20         20       20
unique          NaN             8        NaN       5          4        4
top             NaN         Alice        NaN     USA         HR  Analyst
freq            NaN             4        NaN       7          7        7
mean       10.50000           NaN  46.600000     NaN        NaN      NaN
std         5.91608           NaN   8.720212     NaN        NaN      NaN
min         1.00000           NaN  23.000000     NaN        NaN      NaN
25%         5.75000           NaN  44.250000     NaN        NaN      NaN
50%        10.50000           NaN  48.000000     NaN        NaN      NaN
75%        15.25000           NaN  52.000000     NaN        NaN      NaN
max        20.00000           NaN  60.000000     NaN        NaN      NaN

               Salary Joining_Date
count       18.000000           20
unique            NaN           20
top               NaN   2023-01-04
freq              NaN            1
mean     76288.771667          NaN
std      36415.758589          NaN
min      32320.650000          NaN
25%      45108.290000          NaN
50%      72172.220000          NaN
75%      98915.440000          NaN
max     142939.930000          NaN

Rows with missing Salary values:
    Employee_ID Employee_Name  Age Country Department   Position  Salary  \
3            4         Alice   58     USA         HR  Executive     NaN
7            8         Alice   42   India         HR     Intern     NaN

  Joining_Date
3   2015-06-09
7   2021-04-25

First 4 rows:
    Employee_ID Employee_Name  Age Country Department   Position     Salary  \
0            1         Alice   48   India       Tech    Analyst   91846.35
1            2          Jack   30  France    Finance  Executive   99904.08
2            3         Alice   53     USA         HR     Intern  111980.30
3            4         Alice   58     USA         HR  Executive        NaN

  Joining_Date
0   2023-01-04
1   2019-06-09
2   2015-08-25
3   2015-06-09

Selected Columns and Rows:
   Employee_Name     Salary
0         Alice   91846.35
1          Jack   99904.08
2         Alice  111980.30
3         Alice        NaN
4         David   92301.12

AGRICULTURE DATASET GROUP-BY, PIVOT, CROSSTAB(Q2,Q3)

In [ ]:

df_crop = pd.read_csv('crop_yield.csv')

grouped = df_crop.groupby(['Region', 'Season'])['Crop'].value_counts().unstack().fillna(0)
print("\nCrop counts by Region and Season:\n", grouped)

pivot = pd.pivot_table(df_crop, values='Production', index=['Region', 'Season'],
                       columns='Crop', aggfunc='sum', fill_value=0)
print("\nPivot Table - Total Production:\n", pivot)

crosstab = pd.crosstab(df_crop['Crop'], df_crop['Fertilizer'])
print("\nCrosstab of Crop and Fertilizer Usage:\n", crosstab)

Crop counts by Region and Season:
 Crop            Cotton  Maize  Rice  Soybean  Wheat
Region Season
East   Monsoon     0.0    1.0   0.0      2.0    1.0
       Summer      1.0    3.0   0.0      3.0    1.0
       Winter      0.0    1.0   1.0      0.0    0.0
North  Monsoon     2.0    2.0   0.0      0.0    4.0
       Summer      2.0    0.0   0.0      1.0    2.0
       Winter      0.0    2.0   0.0      2.0    0.0
South  Monsoon     2.0    0.0   1.0      1.0    1.0
       Summer      0.0    0.0   3.0      0.0    0.0
       Winter      1.0    0.0   2.0      0.0    0.0
West   Monsoon     0.0    0.0   1.0      1.0    1.0
       Summer      1.0    0.0   0.0      2.0    0.0
       Winter      1.0    1.0   0.0      0.0    0.0

Pivot Table - Total Production:
 Crop             Cotton    Maize     Rice  Soybean    Wheat
Region Season
East   Monsoon     0.00  1257.23     0.00  1364.36   893.89
       Summer    720.10   816.37     0.00  2305.06  1270.01
       Winter      0.00   898.99  1079.50     0.00     0.00
North  Monsoon  1144.30   741.23     0.00     0.00  2921.95
       Summer    813.13     0.00     0.00   593.86  1411.42
       Winter      0.00  1989.64     0.00  2330.20     0.00
South  Monsoon   610.22     0.00   547.47   778.66   505.15
       Summer      0.00     0.00  2455.73     0.00     0.00
       Winter    400.13     0.00  1078.85     0.00     0.00
West   Monsoon     0.00     0.00   461.08   382.90   453.61
       Summer    310.29     0.00     0.00  1205.77     0.00
       Winter    703.80  1225.80     0.00     0.00     0.00

Crosstab of Crop and Fertilizer Usage:
 Fertilizer  No  Yes
Crop
Cotton       3    7
Maize        5    5
Rice         5    3
Soybean     10    2
Wheat        6    4

CUSTOMER DATA CLEANING(Q4)

In [ ]:
import numpy as np
import re

df_cust = pd.read_csv('customer.csv')

df_cust['Customer ID'] = df_cust['Customer ID'].fillna(-1).astype(int)

df_cust['Name'] = df_cust['Name'].str.title()

df_cust['Email_Valid'] = df_cust['Email'].apply(lambda x: re.match(r"[^@]+@[^@]+\.[^@]+", str(x)) is not None)

df_cust['Phone'] = df_cust['Phone'].str.replace(r'\D', '', regex=True)

def clean_purchase(val):
    if val < 0 or val > 50000:
        return np.nan  \
    return val

df_cust['Purchase Amount'] = df_cust['Purchase Amount'].apply(clean_purchase)


print("\nCleaned Customer Dataset:\n", df_cust.head())

Cleaned Customer Dataset:
    Customer ID           Name                     Email               Phone  \
0            1  Angel Flowers  shaneschultz@example.com     179153095445622
1            2  Lori Thompson             invalid_email  001355827265722221
2            3    Sara Oliver  philiphughes@example.org    1992615658069382
3            4  Victor Thomas             invalid_email          4493123694
4            5   Joshua Henry    michelle01@example.net          7673268524

   Purchase Amount  Email_Valid
0              NaN         True
1          2814.81        False
2          6092.91         True
3          5818.07        False
4          9217.35         True